[submodule "hm-java-crypto"]
	path = hm-java-crypto
	url = git@github.com:highmobility/hm-java-crypto.git
[submodule "hm-android-basic-oauth"]
	path = hm-android-basic-oauth
	url = https://github.com/highmobility/hm-android-basic-oauth.git
[submodule "hm-java-core-jni"]
	path = hm-java-core-jni
	url = git@github.com:highmobility/hmkit-core-jni.git
[submodule "hm-java-utils"]
	path = hm-java-utils
	url = git@github.com:highmobility/hm-java-utils.git
[submodule "hm-android-bluetooth-auto-api-explorer"]
	path = hm-android-bluetooth-auto-api-explorer
	url = git@github.com:highmobility/hm-android-bluetooth-auto-api-explorer.git