/local.properties

.idea/
*.iml
.classpath
.project
.settings/

.DS_Store
/captures

# Gradle
.gradle
/build/
gradle-app.setting 
!gradle-wrapper.jar # Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
.gradletasknamecache